*{
    margin: 0;
    max-width: 1700px;
    margin: 0 auto;
}
h1{
    padding-bottom: 20px;
}
h2{
    font-size: 28px;
    font-weight: 300;
    color: red;
    padding-top: 10px;
    padding-bottom: 20px;
}
h3{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom:10px ;
}
p{
    padding-bottom: 40px;
}
li{
    list-style: square;
}